/**write your css in here**/

.pmode{
    display:none; !important
}

.presentation_mode h1{
        text-align: center;
}

 .presentation_mode {
}
/** Custom file to hidden scroll in IPython slide **/
/**
.reveal {
    overflow: visible;
}
**/

div#notebook { /* centers the page content */
padding-left:10%;
padding-right:10%;
}

div.cell { /* Tunes the space between cells */
width:100%;
margin-top:1em;
margin-bottom:1em;
}

div.text_cell_render h1 { /* Main titles bigger, centered */
font-size: 2.0em;
line-height:1.2em;
text-align:center;
}

div.text_cell_render h2 { /*  Parts names nearer from text */
color: #3465a4;
}

.rendered_html pre {
  margin: 0;
}

div.text_cell_render { /* Customize text cells */
/*font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
/*font-family: "Charis SIL", serif;  */
font-family: 'Arial', 'Times New Roman';
font-size:1.5em;
line-height:1.4em;
padding-left:3em;
padding-right:3em;
}

#notebook li { /* More space between bullet points */
margin-top:0.8em;
}

div.cell.code_cell {  /* Areat containing both code and output */
background-color:#F1F0FF; /* light blue */
border-radius: 10px; /* rounded borders = friendlier */
padding: 1em;
}


div.prompt { /* remove In/Out prompt */
        display: none;
    }

div.output_subarea { /* remove margin in front of output */
        border: none;
    }

div.input {
/* width: 120ex; /* about 80 chars + buffer */
    }

pre code {
 margin-bottom:0.8em;
 margin-top:0.8em;
 font-family: "Inconsolata-dz", Consolas, monospace;
 background-color: #F1F0FF;
}

div.CodeMirror {
        font-family: "Inconsolata-dz",Consolas, monospace;
}
